<div class="main">
  <div class="header">
    <h3 class="header-text">Talk to an Expert</h3>
    <div class="line"></div>
    <p class="description">We're ready for your trial shipment now!</p>
    <form class="form" [formGroup]="form">
      <div class="control">
        <label>First name</label>
        <input type="text" pInputText formControlName="firstName" />
        @if (form.get('firstName')?.invalid && form.get('firstName')?.touched) {
          <div class="error">
            First name is required.
          </div>
        }
      </div>
      <div class="control">
        <label>Last name</label>
        <input type="text" pInputText formControlName="lastName" />
        @if (form.get('lastName')?.invalid && form.get('lastName')?.touched) {
          <div class="error">
            Last name is required.
          </div>
        }
      </div>
      <div class="control">
        <label>Phone number</label>
        <input type="text" pInputText formControlName="phoneNumber" />
        @if (form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched) {
          <div class="error">
            Phone number is required.
          </div>
        }
      </div>
      <div class="control">
        <label>Shipping from</label>
        <p-select
          [options]="shippingOptions"
          formControlName="shippingFrom"
          placeholder="Select"
          class="w-full md:w-56"
        />
        @if (form.get('shippingFrom')?.invalid && form.get('shippingFrom')?.touched) {
          <div class="error">
            Shipping from is required.
          </div>
        }
      </div>
      <div class="control">
        <label>Shipping to</label>
        <p-select
          [options]="shippingOptions"
          formControlName="shippingTo"
          placeholder="Select"
          class="w-full md:w-56"
        />
        @if (form.get('shippingTo')?.invalid && form.get('shippingTo')?.touched) {
          <div class="error">
            Shipping to is required.
          </div>
        }
      </div>
      <div class="control">
        <label>Comment</label>
        <textarea
          rows="4"
          cols="30"
          pTextarea
          formControlName="comment"
        ></textarea>
      </div>
      <button
        class="submit-btn"
        [disabled]="isLoading() || form.invalid"
        (click)="submit()"
      >
        @if (isLoading()) {
          <i class="pi pi-spin pi-spinner"></i>
        } @else {
          Submit
        }
      </button>
    </form>
  </div>
</div>

<p-dialog
  [(visible)]="isDIalogVisible"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template #header> <h4>Successfully submitted!</h4> </ng-template>
  <p>
    Your request has been successfully <strong>submitted</strong>. We will
    <strong>contact</strong> you shortly.
  </p>
  <ng-template #footer>
    <div class="footer">
      <p-button
        label="Close"
        [outlined]="true"
        severity="secondary"
        (onClick)="isDIalogVisible.set(false); form.reset()"
      />
    </div>
  </ng-template>
</p-dialog>
