<p-card 
  header="Request A Quote"
>
  <form class="w-full grid">
    <div class="col-6 flex flex-column gap-2 md:p-1 p-2 md:p-1">
      <label>Firstname</label>
      <input
        class="w-full"
        type="text" 
        pInputText 
      />
    </div>
    <div class="col-6 flex flex-column gap-2 md:p-1 p-2 md:p-1">
      <label>Lastname</label>
      <input
        class="w-full"
        type="text" 
        pInputText 
      />
    </div>
    <div class="col-6 flex flex-column gap-2 md:p-1 p-2 md:p-1">
      <label>Email</label>
      <input
        class="w-full"
        type="text" 
        pInputText 
      />
    </div>
    <div class="col-6 flex flex-column gap-2 md:p-1 p-2">
      <label>Phone</label>
      <input
        class="w-full"
        type="text" 
        pInputText 
      />
    </div>
  </form>
</p-card>